[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesDissolution"]
	path = BayesDissolution
	url = https://github.com/tpourmohamad/bayesdissolution
[submodule "CompModels"]
	path = CompModels
	url = https://github.com/cran/CompModels
[submodule "bmet"]
	path = bmet
	url = https://github.com/tpourmohamad/bmet
